@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");

*
{
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    font-family: sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    border: 0;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    color: #1f1f1f;
    transition: 0.25s;
}

::selection
{
    background-color: #888;
}

.DarkTheme
{
    background-color: #1f1f1f;
    color: #f1f1f1;
}

#Logo
{
    color: #f1f1f1;
    cursor: pointer;
    transition: .5s;
    font-size: 48px;
    margin: 1rem;
}

#Logo:hover
{
    color: #ff2;
}

#Menu
{
    /* top: 0; */
    /* position: sticky; */
    border-bottom: 2px solid #555;
    background: #323232;
    min-height: 80px;
    padding: 1em;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

#MenuItens ul
{
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
}

#MenuItens li
{
    margin: .75em 1em; 
}

#MenuItens a
{
    border-bottom: 2px solid;
    background-color: #555;
    border-radius: 4px;
    font-weight: bold;
    color: #f1f1f1;
    font-size: 14px;
    padding: .5rem;
}

#MenuItens a:hover
{
    color: #ff2;
}

/* Section */

section
{
    border: 1px solid #323232;
    text-align: justify;
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
    margin: 1em 1em;
    padding: 20px;
}

section img
{
    object-fit: scale-down;
    margin: 1em auto;
    max-width: 100%;
    display: block;
}

section figcaption
{
    text-align: center;
    font-style: italic;
    font-size: small;
}

section h1
{
    text-align: center;
}

.Image-Banner
{
    background: url("Img/Icone_Aplicativo.png");
    border-radius: 8px 8px 0px 0px;
    background-repeat: no-repeat;
    background-color: #323232;
    background-position: center;
    margin: -2em -2em auto;
    height: 200px;
}

/* Footer: */

footer
{
    border-top: 2px solid #555555;
    background-color: #323232;
    width: 100%;
}

footer p
{
    text-align: center;
    color: #f1f1f1;
    font-size: 14px;
    margin: 1em;
}

br, hr, img, span
{
    /* Para o usuario não selecionar*/
    -webkit-user-select:none;
    -ms-user-select: none;
    user-select: none; 
}

::-webkit-scrollbar 
{
    height: 0.75em;
    width: 0.75em;
}

::-webkit-scrollbar-track 
{
    border: 1px solid #5803;
    background: #555; 
}
   
::-webkit-scrollbar-thumb 
{
    box-sizing: border-box;
    border-radius: 8px;
    background: #777; 
}

::-webkit-scrollbar-thumb:hover 
{
    background: #7a8a99; 
}